body {
  background: #f7f8fa;
}

.homepage-header-wrapper {
  background: #f7f8fa;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 567px;
  height: 338px;
}

.header-text-large {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 64px;
  color: #1d293f;
  text-align: center;
  width: 567px;
  height: 128px;
}

.header-text-small {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 30px;
  color: #7c8087;
  text-align: center;
  margin-top: 22px;
  width: 516px;
  height: 60px;
}

.homepage-button {
  margin-top: 38px;
}
