.navbar-wrapper {
  display: flex;
  background-color: #f7f8fa;
}

.logo {
  display: flex;
  margin-left: 58px;
  margin-top: 33px;
  z-index: 100;
}

.support-button {
  background-color: transparent;
  position: absolute;
  right: 280px;
  top: 55px;
}
.start-button {
  position: absolute;
  right: 68px;
  top: 46px;
  width: 170px;
  height: 45px;
}
